* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}
.chat-button:disabled {
    background-color: #ccc;
    color: #666;
}

.chatbox__button{
    border:none;
    
}
.chatbox_bottom{
    text-align:right
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
    
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 12px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}




/*botoes do chat*/
.chatbox__options button {
    background-color: #786c8b; /* Cor de fundo */
    border: none; /* Sem borda */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem decoração de texto */
    display: inline-block; /* Exibe como um elemento de bloco */
    font-size: 16px; /* Tamanho da fonte */
    margin: 5px 1px 1px 20px; /* Margem externa */
    cursor: pointer; /* Cursor ao passar por cima */
    border-radius: 8px; /* Borda arredondada */
    width: auto;
}

/* Estilos quando o cursor está sobre o botão */
.chatbox__options button:hover {
    background-color: #c7c2d1; /* Altera a cor de fundo quando o cursor está sobre o botão */
}

/* Estilos quando o botão está pressionado */
.chatbox__options button:active {
    background-color: #aba6c4; /* Altera a cor de fundo quando o botão está pressionado */
}

/* Estilos para os botões quando desabilitados */
.chatbox__options button:disabled {
    opacity: 0.6; /* Reduz a opacidade quando o botão está desativado */
    cursor: not-allowed; /* Altera o cursor quando o botão está desativado */
}

.chat-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre os botões */
}

.chat-button {
    background-color: #E0E0E0; /* Cor de fundo */
    color: black; /* Cor do texto */
    border: none;
    border-radius: 10px; /* Bordas arredondadas */
    padding: 5px 5px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho do texto */
    cursor: pointer; /* Cursor do mouse */
    margin-top:5px;
    margin-bottom:5px;
    /*transition: background-color 0.3s;  Transição suave de cor */
}

.chat-button:hover {
    background-color: #c7c2d1; /* Cor de fundo ao passar o mouse */
}

.chat-button:disabled {
    background-color: #cccccc; /* Cor de fundo para botões desabilitados */
    cursor: default; /* Cursor do mouse para botões desabilitados */
}