
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #747474;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}
body::before,
body::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1;
}
body::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.671), transparent);
}

body::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}
.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.main-heading {
    font-size: 70px;
    font-weight: bold;
    color:white;
    margin-bottom: 20px;
    font-family: "Pacifico";
    font-weight: 200px;
    

    
}

.chatbox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

.chatbox__header {
    background: grey;;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.chatbox__image--header {
    margin-right: 1px;
    justify-content: start;
}

.logo_image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    align-items: center;
    
}

.chatbox__content--header {
    display: flex;
    flex-direction: column;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

.chatbox__messages {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    height: 300px;
    background: white;
}

.messages__container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.messages__container--operator {
    justify-content: flex-start;
    text-align: start;
}

.messages__container--visitor {
    justify-content: flex-end;
    text-align: start;
}

.messages__item {
    padding: 8px 12px;
    max-width: 70%;
    border-radius: 20px;
    position: relative;
    display: inline-block;
}

.messages__item--visitor {
    background: #E0E0E0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    background: #5f5b79;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.chatbox__footer {
    display: flex;
    align-items: center;
    padding: 20px;
    background: linear-gradient(268.91deg, #757279 -2.14%, #ffffff 99.69%);
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
}

.chatbox__footer input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 30px;
    margin-right: 10px;
}

.chatbox__send--footer {
    background: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.sub-heading {
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 0;
}

.info-boxes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.info-image {
    width: 50px;
    height: 50px;
    background: #ccc;
    margin-bottom: 10px;
}

.info-box p {
    font-weight: bold;
}

.chat-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-left: 43px;
    justify-content: center;
    flex-direction: column;
    width: 200px;

}

.chat-button {
    background-color: #786c8b;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
}

.chat-button:hover {
    background-color: #c7c2d1;
}

.chat-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
